In [161]:
import pandas as pd
import itertools
from datetime import datetime

In [53]:
models = ['X', 'S']
specs_x_s = ['Long Range', 'Plaid']
specs_3 = ['Standard Range Plus', 'Long Range', 'Performance']
specs_y = ['Long Range', 'Performance']

In [60]:
all_cars = list(itertools.product(models,specs_x_s)) + list(itertools.product('3', specs_3)) + list(itertools.product('Y', specs_y))

In [61]:
print(all_cars)

[('X', 'Long Range'), ('X', 'Plaid'), ('S', 'Long Range'), ('S', 'Plaid'), ('3', 'Standard Range Plus'), ('3', 'Long Range'), ('3', 'Performance'), ('Y', 'Long Range'), ('Y', 'Performance')]

In [62]:
colors = ["white", "dark blue", "yellow", "green", "red", "orange", "black", "light blue"]

In [119]:
cl = pd.DataFrame(colors, columns=["color"])

In [120]:
ac = pd.DataFrame(all_cars, columns=["Model", "Specs"])

In [121]:
ac

  Model                Specs
0     X           Long Range
1     X                Plaid
2     S           Long Range
3     S                Plaid
4     3  Standard Range Plus
5     3           Long Range
6     3          Performance
7     Y           Long Range
8     Y          Performance

In [122]:
cl["key"] = 1

In [123]:
ac["key"] = 1

In [124]:
result = pd.merge(ac, cl, on ='key').drop("key", 1)

In [125]:
result

   Model        Specs       color
0      X   Long Range       white
1      X   Long Range   dark blue
2      X   Long Range      yellow
3      X   Long Range       green
4      X   Long Range         red
..   ...          ...         ...
67     Y  Performance       green
68     Y  Performance         red
69     Y  Performance      orange
70     Y  Performance       black
71     Y  Performance  light blue

[72 rows x 3 columns]

In [126]:
result["price"] = 60000

In [129]:
result.head(20)

   Model       Specs       color  price
0      X  Long Range       white  60000
1      X  Long Range   dark blue  60000
2      X  Long Range      yellow  60000
3      X  Long Range       green  60000
4      X  Long Range         red  60000
5      X  Long Range      orange  60000
6      X  Long Range       black  60000
7      X  Long Range  light blue  60000
8      X       Plaid       white  60000
9      X       Plaid   dark blue  60000
10     X       Plaid      yellow  60000
11     X       Plaid       green  60000
12     X       Plaid         red  60000
13     X       Plaid      orange  60000
14     X       Plaid       black  60000
15     X       Plaid  light blue  60000
16     S  Long Range       white  60000
17     S  Long Range   dark blue  60000
18     S  Long Range      yellow  60000
19     S  Long Range       green  60000

In [162]:
now = datetime.now()

In [173]:
date = now.strftime('%Y-%m-%d')

In [174]:
date

'2021-07-28'

In [175]:
result["Insert_DT"] = date

In [176]:
result.head()

  Model       Specs      color  price   Insert_DT
0     X  Long Range      white  60000  2021-07-28
1     X  Long Range  dark blue  60000  2021-07-28
2     X  Long Range     yellow  60000  2021-07-28
3     X  Long Range      green  60000  2021-07-28
4     X  Long Range        red  60000  2021-07-28

In [184]:
i = result.to_csv("result.csv", index=False)